<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7TT8a1_D-mZrD19ixN-n-TuEYPEiRF2k</string>
	<key>GCM_SENDER_ID</key>
	<string>388505700465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanCulture.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>urbanculture-63087</string>
	<key>STORAGE_BUCKET</key>
	<string>urbanculture-63087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388505700465:ios:14e0b23977f26e36d973d0</string>
</dict>
</plist>